.me {
    display: flex;
    padding: 10%;
    justify-content: space-around;
}
.texte {
    margin-top: 50px;
}
p {
    font-family: nobel, sans-serif;
    font-style: normal;
    font-size : 16px;
    font-weight : lighter;
    text-align-last: center;
    margin: 20px;
}
.jeanne {
    font-family: nobel, sans-serif;
}