.slider {
    --sliderWidth: 400px;
    width: var(--sliderWidth);
    overflow: hidden;
    position: relative;
    margin-top: 5%;
}
.slider__slides {
    display: flex;
    transition: transform 0.3s;
}
.slider__slide {
    width: var(--sliderWidth);
    height: 300px;
    object-fit: cover;
}  
.slider__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: yellow;
    width: 30px;
    text-align: center;
    line-height: 30px;
} 
.slider__arrow--right {
    right: 0;
}
h1 {
    font-family: nobel, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: 18px;
    margin: 20px;
}
p {
    width: 100vh;
   text-align: center;
   margin-top: 5%;
   font-style: normal;
   font-weight : 12px;
}