.slider {
    --sliderWidth: 200px;
    width: var(--sliderWidth);
    overflow: hidden;
    position: relative;
    margin-top: 5%;
} 
.slider__slides {
    display: flex;
    transition: transform 0.3s;
} 
.slider__slide {
    width: var(--sliderWidth);
    height: 300px;
    object-fit: cover;
} 
.slider__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #b25121;
    width: 30px;
    text-align: center;
    line-height: 30px;
    
}
.slider__arrow--right {
    right: 0;
    color: white;
}
.slider__arrow--left {
    color: white;
}
h1 {
    text-align: center;
    margin-top: 5%;
    font-family: nobel, sans-serif;
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
}
p {
    font-family: nobel, sans-serif;
    font-size: 16px;
    font-style: normal;
    width: 50%;
    font-weight : lighter;
    margin-top: 4%;
    text-align-last: center;
}