@media (max-width: 1920px){
    * {
        margin: 0 auto;
        padding: 0;
        max-width: 100%;
    }
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: #b25121;
        min-height: 8.1vh;
        font-family: nobel, sans-serif;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
    }   
    .logo {
        font-size: 37px;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-family: nobel, sans-serif;
        font-style: normal;
    }
    .logo a {
        text-decoration: none;
    }
    h4 {
        color: #b25121;
    }
    .nav-links {
        display: flex;
        justify-content: space-around;
        width: 50%;
        text-decoration: none;
        list-style: none;
        letter-spacing: 3px;
        font-size: 14px;
        font-family: nobel, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-weight: 18px;
    }
    .nav-links li {
        list-style: none;
        text-decoration: none;
        letter-spacing: 3px;
        font-size: 14px;
        font-family: nobel, sans-serif;
        font-weight: 400;
        font-style: normal;;
        font-weight: 18px;
    }   
    .nav-links a {
        list-style: none;
        text-decoration: none;
        color: #b25121;
        letter-spacing: 3px;
        font-size: 14px;
        font-family: nobel, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-weight: 18px;
    }
    .nav-links a:hover {
        cursor: pointer;
        font-weight: bolder;
        text-decoration: underline;
    }
    .burger {
        display: none;
        cursor: pointer;
    }
    .burger div{
        width: 25px;
        height: 3px;
        margin: 5px;
        background-color: #b25121;
        transition: all 0.3s ease;
    }
    .nav-active {
        transform: translateX(0);
        opacity: 1;
    }
    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px,6px);
    }
    .toggle .line2 {
        opacity: 0;
    }
    .toggle .line3 {
        transform: rotate(45deg) translate(-5px,6px);
    }
    .grid {
        margin-top: 100px;
        width: 100%;
        transform: translateX(15%);
    }
    .grid-item {
        width: 204px;
        padding: 5px;
        box-sizing: border-box;
        display:grid;  
    }
    .grid-item:hover {
        opacity: 40%;
        cursor: pointer;
    }
    .footer {
        margin-top: 10%;
        display: flex;
        background-color:#b25121;
        padding: 4%;  
        margin-top: 5%;
    }
    .networks {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        color: white;
    }
    .mail {
        text-align: center;
        margin-top: 26%;
        color: #b25121;
        font-size: 48px;
    }
}
@media(max-width:600px){
    .logo a{
        text-decoration: none;
    }
    h4{
        color: #b25121;
    }
    .nav-links {
        width: 100%; 
    }
    .nav-links li {
        font-size: 
        12px;
    }
}
@media (max-width: 375px){   
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 100vh;
        font-size: 12px;
        top: 8vh;
        background-color:#b25121 ;
        display: flex;
        flex-direction: column;
        width: 50%;
        transition: transform 0.5s ease-in;
        z-index: 1;
        opacity: 0;     
    }
    .nav-links li {
        z-index: 2;
        color: white;
    }
    .burger {
        display: block;
        cursor: pointer; 
    }
    .mail {
        text-align: center;
        margin-top: 26%;
        color: #b25121;
        font-size: 48px;
    }
}
